/* 
    Created on : Aug 31, 2015
    Author     : yeozkaya@gmail.com
    
    Modified for better classnames as per issue #3 by BaDu (Netkaart-feedback)
*/
@media screen and (min-width:600px) {/*for PC*/


    .autocomplete-searchContainer {
        position: relative;
        top: 15px;
        left: 58px;
        z-index: 1001;
        width: 400px;
        height: 48px;
        background-color: white;
        border-style: solid;
        border-width: 1px;
        border-color: lightgrey;
        /*border-left: none;*/
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 50px;

        -moz-box-shadow: 2px 2px 2px -2px gray;
        -webkit-box-shadow: 2px 2px 2px -2px gray;
        box-shadow: 2px 2px 2px -2px gray;

    }

    .autocomplete-searchBox {
        width: 290px;
        height: 46px;
        border: none;
        margin-left: 20px;
        overflow: hidden;
        outline: none;
    }

    .autocomplete-searchButton {
        background: url('images/search_double.png') no-repeat;
        cursor: pointer;
        width: 24px;
        height: 24px;
        border: none;
        background-color: white;
        outline: none;
        vertical-align: middle;
    }

    .autocomplete-searchButton:hover {
        background: url('images/search_double.png') no-repeat -24px 0px;
    }

    .autocomplete-clearButton {
        background: url('images/clear_multiple.png') no-repeat;
        cursor: pointer;
        width: 24px;
        height: 24px;
        border: none;

        outline: none;
        margin-left: 10px;
        vertical-align: middle;
    }

    .autocomplete-clearButton:hover {
        background: url('images/clear_multiple.png') no-repeat -24px 0px;
    }

    .autocomplete-divider {
        width: 24px;
        border-left: solid 1px lightgrey;
        margin-left: 10px;
    }

    .autocomplete-result {
        position: absolute;
        background-color: white;
        width: 399px;
        /*top: 200px;*/

        border-style: solid;
        border-width: 1px;
        border-color: lightgray;

        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;

        -moz-box-shadow: 2px 2px 2px -2px gray;
        -webkit-box-shadow: 2px 2px 2px 2px gray;
        box-shadow: 2px 2px 2px -2px gray;
    }

    .autocomplete-list {
        list-style-type: none;
        padding-left: 0;
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .autocomplete-listResult {
        background-color: white;
        height: 38px;
        margin-bottom: 0px;
        /*border-top: 1px solid #e6e6e6;*/
    }

    .autocomplete-listResult.active {
        background-color: lightskyblue;
    }

    .autocomplete-listResult.mouseover {
        background-color: lightgrey;
    }

    .autocomplete-iconStyle {
        width: 24px;
        height: 24px;
        margin-left: 5px;
        vertical-align: middle;
        display: none;
    }

    .autocomplete-content {
        float: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 38px;
        width: 399px;
        line-height: 38px;
    }

    .autocomplete-pagingDiv {
        border-top: 1px solid #e6e6e6;
    }

    .autocomplete-pagingArrow {
        vertical-align: bottom;
    }

    .autocomplete-title {
        margin-left: 10px;
        line-height: 38px;
    }

}

@media screen and (max-width:1025px) {/*for Mobile Phone*/

    .autocomplete-searchContainer {
        position: relative;
        top: 15px;
        left: 58px;
        z-index: 1001;
        width: 800px;
        height: 150px;
        background-color: white;
        border-style: solid;
        border-width: 2px;
        border-color: black;
        /*border-left: none;*/
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 50px;

        -moz-box-shadow: 2px 2px 2px -2px gray;
        -webkit-box-shadow: 2px 2px 2px -2px gray;
        box-shadow: 2px 2px 2px -2px gray;

    }

    .autocomplete-searchBox {
        width: 600px;
        height: 140px;
        transform: translateY(4px);
        border: none;
        margin-left: 40px;
        font-size: 48px;
        overflow: hidden;
        outline: none;
    }

    .autocomplete-searchButton {
        background: url('images/search_double_4x.png') no-repeat;
        cursor: pointer;
        width:96px;
        height: 96px;
        border: none;
        background-color: white;
        outline: none;
        vertical-align: middle;
        visibility: hidden;
        display: none;
    }

    .autocomplete-searchButton:hover {
        visibility: hidden;
        display: none;
        background: url('images/search_double_4x.png') no-repeat -96px 0px;
    }

    .autocomplete-clearButton {
        background: url('images/clear_multiple_4x.png') no-repeat;
        cursor: pointer;
        width: 96px;
        height: 96px;
        border: none;
        transform: translateY(-7px);
        outline: none;
        margin-left: 10px;
        vertical-align: middle;
    }

    .autocomplete-clearButton:hover {
        
        background: url('images/clear_multiple_4x.png') no-repeat -96px 0px;
    }

    .autocomplete-divider {
        width: 96px;
        border-left: solid 1px lightgrey;
        margin-left: 10px;
        display: none;
    }

    .autocomplete-result {
        position: absolute;
        background-color: white;
        width: 800px;
        
        /*top: 200px;*/

        margin-left: 10px;
        border-style: solid;
        border-width: 1px;
        border-color: lightgrey;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        -moz-box-shadow: 2px 2px 2px -2px gray;
        -webkit-box-shadow: 2px 2px 2px -2px gray;
        box-shadow: 2px 2px 2px -2px gray;
    }

    .autocomplete-result i{
        font-size: 200%;
    }

    .autocomplete-list {
        list-style-type: none;
        padding-left: 0;

        margin-bottom: 0px;
        margin-top: 0px;
    }

    .autocomplete-listResult {
        background-color: white;
        height: 100px;
        margin-bottom: 0px;
        /*border-top: 1px solid #e6e6e6;*/
    }

    .autocomplete-listResult.active {
        background-color: lightskyblue;
    }

    .autocomplete-listResult.mouseover {
        background-color: lightgrey;
    }

    .autocomplete-iconStyle {
        width: 24px;
        height: 24px;
        margin-left: 5px;
        vertical-align: middle;
        display: none;
    }

    .autocomplete-content {
        float: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 100px;
        width: 800px;
        line-height: 38px;
        
    }

    .autocomplete-pagingDiv {
        border-top: 1px solid #e6e6e6;
    }

    .autocomplete-pagingArrow {
        vertical-align: bottom;
    }

    .autocomplete-title {
        margin-left: 10px;
        line-height: 100px;
        font-size: 30px;
    }

    #dct{
        font-size: 20px;
    }
}

#space{
    margin-right: 20px;
}